[Unit]
Description=BTattach the PCA10040 devboard
[Service]
Type=simple
ExecStart=/usr/bin/btattach -B /dev/ttyACM0 -S 115200
[Install]
WantedBy=multi-user.target bluetooth.service
